<div
      class="p-4 mt-2 mb-6 overflow-hidden rounded-b-lg "
    >
      <a
        class="relative block h-48 overflow-hidden rounded"
        [routerLink]="['/products', product().id]"
      >
        <img
          class="w-full transition duration-500 transform hover:scale-105"
          src="{{ product().image }}"
          alt="{{ product().title }}"
        />
      </a>

      <div class="mt-4">
        <h3 class=" text-xs tracking-widest text-gray-500 title-font">
          {{ product().category.charAt(0).toUpperCase() + product().category.slice(1) }}
        </h3>
        <h2 class="py-2 text-base font-medium text-gray-900 truncate">
          <a [routerLink]="['/products', product().id]"
            >{{ product().title}}
          </a>
        </h2>
        <div class="flex items-center justify-between mt-1">
          <p class="text-2xl font-bold text-yellow-500">
            {{ product().price | currency }}
          </p>
          <button
            (click)="onAddToCart()"
            class="px-2 py-1 text-white bg-yellow-500 rounded hover:bg-yellow-700"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>